.header {
  background: var(--gray-700);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5rem;
  padding: 1.25rem;
}

.header img {
  width: 28px;
  height: 40px;
  padding-right: 3px;
}

.to {
  color: var(--blue);
  font-size: 2.5rem;
}

.do {
  color: var(--purple-dark);
  font-size: 2.5rem;
}
