.taskBox {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: var(--gray-500);
  min-height: 4rem;
  padding: 0.7rem;
  margin-bottom: 0.75rem;
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: var(--gray-400);
  gap: 10px;
}

.taskContent {
  text-wrap: wrap;
  font-size: 0.8rem;
  color: var(--white);
  height: 100%;
  width: 100%;
}

.circleCheckBox {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 15px;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: var(--blue);
  border-radius: 50%; /* Torna a caixa redonda */
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: var(--purple-dark); /* Cor quando a checkbox está marcada */
}

.taskComplete {
  text-decoration-line: line-through;
}
