:root {
  --gray-700: #0d0d0d;
  --gray-600: #1a1a1a;
  --gray-500: #262626;
  --gray-400: #333333;
  --gray-300: #808080;
  --gray-200: #d9d9d9;
  --gray-100: #f2f2f2;

  --blue-dark: #1e6f9f;
  --blue: #4ea8de;
  --purple-dark: #5e60ce;
  --purple: #8284fa;

  --danger: #e25858;

  --white: #ffffff;
}

body,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  margin: 0;
}

body {
  background: var(--gray-600);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
